/* Styling the navigation bar.  */
body {
  background-color: white;
}

#resultsBody {
  text-align: center;
}

nav.top-nav {
  background-color: #002147;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 4px 4px #0003;
  padding-left: 2em;
  z-index: 1;
}

nav.top-nav ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

nav.top-nav li {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin: 2px;
  display: inline-block;
  padding: 5px;
  position: relative;
}

#logo {
  margin: -10px;
  margin-right: 0px;
}

a {
  color: white;
  text-decoration: none;
}

#currentLink {
  color: gray;
}

nav.top-nav a:hover {
  opacity: 0.5;
}

/* Form styling */
#form {
  margin-top: 100px;
}

#mainBody {
  margin-top: 5%;
}
