<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title>Predictions</title>
  </head>
  <body>
    <nav class="top-nav">
      <ul>
        <li>
          <a href="{%url 'predictions'%}">
            <img
              id="logo"
              src="{% static 'images/logo.png' %}"
              alt="My image"
              style="width: 26.25px; height: 55px"
            />
          </a>
        </li>
        <li><a href="{%url 'predictions'%}">Game Predictions</a></li>
        <li><a id="currentLink" href="{%url 'stats'%}">Predicted Stats</a></li>
        <li>
          <a href="{%url 'statsWithoutPredictions' %}"
            >Stats without Predictions</a
          >
        </li>
      </ul>
    </nav>
    <div id="mainBody">
      <form action="specificStats" method="POST">
        {% csrf_token %}
        <table style="display: inline">
          {{ whichStat.as_table }}
        </table>
        <input style="display: inline" type="submit" value="Submit" />
      </form>

      {{ statsDataframeHTML |safe}}
    </div>
  </body>
</html>
